<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>


</head>
<body>
<!-- nav bar -->
       <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">ÇABK</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/">Ana Sayfa <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/zatürenedir">Zatüre Nedir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">En Yakın Hastane</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Yakında sizlerle</a>
              </li>
            </ul>
          </div>
        </nav>

<!-- ana başlık -->
     <div align="center" class="my-5 " >

<!--
              <div>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    X ray
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                 <div class="image-section" style="display:none;">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
            </div>

                <div>
                    <button type="button" class="upload-label" id="btn-predict">Predict!</button>
                </div>
            </form>

-->

<h1>ZATÜRE TESTİ</h1>


</div>
<!-- her şeyi ortalama -->
         <div align="center " class="mx-auto w-50" >
<!-- yükleme dosya -->
<!--
       <form>
            <div class="custom-file w-50 mb-3">
       <input type="file" class="custom-file-input" id="validatedCustomFile" required>
       <label class="custom-file-label" for="validatedCustomFile">Yüklenecek Dosyayı Seç</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        </form>
-->

             <div class="form-result-container">
  <form id="upload-form" method="post" action="upload" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Select an x-ray image file:
        </label>

        <input type="file" name="image" id="image-upload" accept=".png, .jpg, .jpeg">
        <div id="analyze-button-container">
            <button id="analyze-button">Analyze</button>
        </div>
    </form>


</div>
<!-- hastalık bul butonu -->

          <button  type="button" class="btn btn-secondary btn-lg mb-3">Hastalık Bul</button>


<!-- sonra hastalık bul basınca çalışacak-->
           <div class="text-center">
          <div class="spinner-border mb-3 tex-center" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
<!-- sonra if le bağla renklendir  -->
            <div class="mx-auto w-25" >
            <ul class="list-group">
          <li class="list-group-item">Zatüre Viral </li>
          <li class="list-group-item">Zatüre Bakteri</li>
          <li class="list-group-item">Hastalık Yok</li>
            </ul>
         </div>



    {% block content %}
    {% endblock %}

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

          </div>


</div>
</body>
</html>